
/*
*****************************
HEADER
*****************************
*/
.jumbotron {
  background:
            linear-gradient(#d3d3d3, transparent 90%),
            linear-gradient(0deg, #778899, transparent),
              url('../img/treering.png') no-repeat center;
  background-size: cover;
  color: #fff;
  height: 550px;
  font-size: 2em;
  margin-top: 0;

}

 /* Font styles */
.jumbotron h1 {
  font-size: 2.5em;
  font-weight: bold;
}

.jumbotron h4 {
  font-size: 1em;
}
.navbar {
  margin-bottom: 0;
}

/*
*****************************
BODY
*****************************
*/

/* Background color and fonts */
body {
  background: #778899 !important;
  color: #FFF;
  font-family: 'Open sans', sans-serif;
  }

/* Add a border to separate out content sections */

.top-border {
  border-top: 2px solid #ccc;
}


/*
*****************************
Images
*****************************
*/

#profile-picture {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url('../img/profile.jpg') no-repeat;
  background-size: cover;
  margin: 0 auto;
}

#projects a i {
  text-decoration: none !important;
}

/* Used to display portfolio projects */
.circular-image {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background-color: #FFF;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 50px;
  padding-top: 40px;
}


/* Icons */
/* Social media is used in jumbotron*/
.social-media li a i {
  margin-top: 3em;
  color: #fff;
}
/* Used to center icon in portfolio section*/
.center-icon {
  margin-top: 35px;
}

/* For icons in contact section */
.square-image {
  width: 80px;
  height: 80px;
  background-color: #778899;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 30px;
  padding-top: 30px;
}

.contact {
  color: #fff;
  font-size: 1.25em;
}
